#!/bin/bash
# This script is scheduled to be stored in the templates folder

# Create the file repository configuration:
echo "Creating the file repo config"
sudo sh -c 'echo "deb http://apt.postgresql.org/pub/repos/apt $(lsb_release -cs)-pgdg main" > /etc/apt/sources.list.d/pgdg.list'

# Import the repository signing key:
echo "Importing the repo signing key"
wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -

# Update the package lists:
echo "Updating apt"
sudo apt update -y

# Install the latest version of PostgreSQL.
# If you want a specific version, use 'postgresql-12' or similar instead of 'postgresql':

echo "install postgresql15"
sudo apt install postgresql-15 postgresql-contrib -y

#Change the postgres password to postgres
echo "Changing password"
sudo chpasswd <<<"postgres:postgres"

# Setup Postgresql server
# Edit the postgresql.conf file 
echo "Editing the postgresql.conf file"
sudo sed -i -e '60s/#listen/listen/' /etc/postgresql/15/main/postgresql.conf
sudo sed -i -e '60s/localhost/\*/' /etc/postgresql/15/main/postgresql.conf 
# Edit the PostgreSQL access policy configuration file
echo "Edit The PostgreSQL Access Policy Configuration File"
echo "host    all             all             0.0.0.0/0               md5" | sudo tee -a /etc/postgresql/15/main/pg_hba.conf

sudo systemctl restart postgresql

ss -nlt | grep 5432
